<h2 class="primary" align="center">Sign Up</h2>
<hr />
<form (submit)="register(myregform)" #myregform="ngForm" id="registerForm">
  <div>
    <mat-form-field [style.fontSize.px]="14">
      <input matInput placeholder="Username" name="UserName" [(ngModel)]="model.UserName" required #un="ngModel">
    </mat-form-field>
    <div class="invalid" *ngIf="un.touched && un.invalid">Name is required</div>
  </div>

  <div>
    <mat-form-field [style.fontSize.px]="14">
      <input type="password" matInput placeholder="Password" name="Password" [(ngModel)]="model.Password" required #pw="ngModel">
    </mat-form-field>
    <div class="invalid" *ngIf="pw.touched && pw.invalid">Password is required</div>
  </div>

  <div>
    <mat-form-field [style.fontSize.px]="14">
      <input type="password" matInput placeholder="Confirm Password" name="confirmPassword" required>
    </mat-form-field>
  </div>

  <button mat-raised-button color="primary" [disabled]="myregform.form.invalid">Register</button>
</form>
