<h2 class="primary">Sign Up</h2>
<hr />
<form (submit)="register(myregform)" #myregform="ngForm">
  <div>
    <mat-form-field [style.fontSize.px]="14">
      <input matInput placeholder="Username" name="UserName" [(ngModel)]="model.UserName" required>
    </mat-form-field>
  </div>

  <div>
    <mat-form-field [style.fontSize.px]="14">
      <input type="password" matInput placeholder="Password" name="Password" [(ngModel)]="model.Password" required>
    </mat-form-field>
  </div>

  <button mat-raised-button color="primary" [disabled]="myregform.form.invalid">Register</button>
</form>
