<mat-toolbar color="primary" fxLayout="row" fxLayoutAlign="start center">
  <span>Friend Ship</span>
  <a mat-button id="long-menu">Matches</a>
  <a mat-button id="long-menu">Friend Lists</a>
  <span class="space-between"></span>
  <form class="container" (ngSubmit)="submit()" #myForm="ngForm" id="long-menu">
    <mat-form-field [style.fontSize.px]="14">
      <input matInput placeholder="User name">
    </mat-form-field>
    <div class="divider"></div>
    <mat-form-field [style.fontSize.px]="14">
      <input matInput placeholder="Password">
    </mat-form-field>
    <div class="divider"></div>
    <button mat-mini-fab color="primary">Login</button>
  </form>
  <div id="short-menu" display="none">
    <div id="hamburger"></div>
  <div id="hamburger"></div>
  <div id="hamburger"></div>
  </div>
</mat-toolbar>
